body {
	background-color: #212121;
	font-family: "Nunito", sans-serif;
}

#container {
	width: 375px;
	height: 667px;
}

header {
	width: 375px;
	height: 56px;
	background: #002984;
}

img[alt="arrow"] {
	left: 17px;
	top: 18px;
}

img[alt="arrow"]:hover {
	cursor: pointer;
	opacity: 0.7;
}

header > h1 {
	width: 200px;
	height: 33px;
	left: 55px;
	top: 12px;
	font-size: 24px;
	line-height: 33px;
}

#img-to-display {
	width: 343px;
	height: 579px;
	left: 15px;
	top: 72px;
	background-color: #e0e0e0;
	border-radius: 8px;
}

#canv1 {
	width: 343px;
	height: 579px;
	left: 15px;
	top: 72px;
	border-radius: 8px;
}

img[alt="crop"] {
	width: 289px;
	height: 288px;
	left: 43px;
	top: 218px;
}

#myFile {
	width: 343px;
	height: 40px;
	left: 15px;
	top: 570px;
	border-radius: 8px 8px 0px 0px;
	font-size: 12px;
	line-height: 16px;
}

#simpan {
	width: 343px;
	height: 40px;
	left: 15px;
	top: 611px;
	background: #002984;
	border-radius: 0px 0px 8px 8px;
	font-size: 12px;
	line-height: 16px;
}
